<div class="chat-bot__container">
  <div class="chat-bot__header">
    <div class="chat__icon chat__icon__robot"></div>
    <div>Chatminator</div>
    <div class="chat-bot__header__icon" (click)="onCloseChatBot()"><mat-icon>close</mat-icon></div>
  </div>
  <div class="chat-bot__content" (scroll)="scrolled($event)" #scrollframe>
    <div>
      <div *ngFor="let message of messages" #messages>
        <div class="chat-bot__content__chat-bot-message" [ngClass]="message.className">
          <div style="align-items: center; display: flex; flex-direction: row;" [innerHTML]="message.message"></div>
        </div>
      </div>
      <div style="flex-direction: column; width: 100%;" [ngStyle]="{'display': showQuestions ? 'flex' : 'none'}">
        <button class="chat-bot__content__question" (click)="addMessagesForSite()">
          <mat-icon>code</mat-icon>
          <div>What is this site built with?</div>
        </button>
        <button class="chat-bot__content__question" (click)="addMessagesForOpenForPosition()">
          <mat-icon>work</mat-icon>
          <div>Are you open for any positions?</div>
        </button>
        <button class="chat-bot__content__question" (click)="addMessagesForDialog()">
          <mat-icon>chat</mat-icon>
          <div>I just want to chat</div>
        </button>
        <button class="chat-bot__content__question" (click)="addMessagesForCoverImage()">
          <mat-icon>image</mat-icon>
          <div>Where did you get the picture?</div>
        </button>
      </div>
    </div>
  </div>
</div>
