.chat-bubble {
  align-items: center;
  background:#fff;
  bottom: 0;
  color: rgb(8, 20, 39);
  display: flex;
  justify-content: center;
  right: 0;
  position: fixed;
  border-radius: 50%;

  @at-root #{&}__size {
    font-size: 2rem;
    height: 38.5pt;
    width: 38.5pt;
    margin: 1rem;
  }

  &:hover {
    cursor: pointer;
  }


  @at-root #{&}__container {
    @at-root #{&}--show {
      opacity: 1;
      visibility: unset;

      @media (min-width: 901px) {
        transition: opacity 0.3s ease-in-out
      }
    }

    @at-root #{&}--hide {
      opacity: 0;
      visibility: hidden;

      @media (min-width: 901px) {
        transition:
        opacity 0.3s ease-in-out,
        visibility 0s 0.3s linear
      }
    }
  }
}
